{
  "presets": [
    "@babel/env",
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}